.group {
  position: relative;
}

.group > label {
  color: #555;
  font-size: 12px;
  position: absolute;
  left: 17px;
  top: 9px;
}

.select {
  width: 100%;
  appearance: none;
  padding: 2.6rem 1.6rem 1.1rem;
  font-size: 1.6rem;
  border-color: #bdbdbd;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 9' fill='none' stroke='%23666' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.8678 1L8.46425 7L1.96216 1' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 14px;
  background-position-x: calc(100% - 14px);
}

.group:first-child > .select {
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.group:last-child > .select {
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}
