.head > p {
  font-size: 1.6rem;
  text-align: center;
  margin: 5rem 0 1.4rem;
  color: #1a3035;
  font-weight: bold;
}

.wrap {
  max-width: 50rem;
  margin: auto;
  background-color: #fff;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-bottom: 4rem;
}
